 table,
      th,td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
th,td {
  padding: 15px;
  font-size: 120%;
  
} 
p {
	font-size: 110%;
}
th {
	background-color:rgb(0, 0, 0);
	color:whitesmoke;
}
td {
	background-color:rgb(43, 40, 231);
	color:whitesmoke;
}
.photo {
	width: 220px;
}
h1 {
    text-align:center;
	color:rgb(137, 139, 0);
    color: black;
}
body {
	
	background-image: url(awan.jpe);
	}
